#忽略编译生成文件
*.bak
*.edk
*.ddk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
JLinkLog.txt
uv4.log.lock
*.log
*.hax
*.htm
#忽略docxygen生成文件
html
LaTeX
#忽略build文件夹
build/*
!/build/CMakeLists.txt